<h1><%= @user.username %> Just Tweeted...</h1>

<p><%= @tweet.user.username %>: <%= @tweet.content %></p></br>
<form action='/tweets/#{@tweet.id}' method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete Tweet">
</form>
