<h1><%= @user.username %></h1>
<p><a href="/tweets/new">New Tweet</a> | <a href="/tweets">All Tweets</a> | <a href="/logout">Log Out</a></p>
<% @tweets.each do |tweet| %>
  <ul>
    <li><%= tweet.content %> <a href="/tweets">(edit)</a></li>
  </ul>
<% end %>
