<h1>Signup</h1>
<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type=string id="username" value="" name="username">
  <label for="email">Email:</label>
  <input type=string id="email" value="" name="email">
  <label for="password">Password:</label>
  <input type=password id="password" value="" name="password"></br>
  </br>
  <input type="submit" value="Sign Up">
</form>
